name: Greeting on variable day

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  sayparam: ${{ secrets.SAYHI }}

jobs:
  greeting_job:
    runs-on: windows-2019

    steps:
      - uses: actions/checkout@v2
      - name: "Say Hello Mona it's Monday"
        run: | 
           . ./.github\workflows\sayparams.ps1
           deploydb $Env:sayparam