name: Octo Organization CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: init-ssh
        uses: shimataro/ssh-key-action@v2
        with:
          key: hello

      - name: Run a one-line script
        run: | 
           . ./.github\workflows\sayparams.ps1
           deploydb ${{ key }} 